olat_tamid.aux
olat_tamid.fdb_latexmk
olat_tamid.fls
olat_tamid.log

olat_tamid.pytxcode
./__pychache__

0.0-main.aux
0.0-main.fdb_latexmk
0.0-main.fls
0.0-main.log

0.0-shabbat.aux
0.0-shabbat.fdb_latexmk
0.0-shabbat.fls
0.0-shabbat.log

0.0-weekday.aux
0.0-weekday.fdb_latexmk
0.0-weekday.fls
0.0-weekday.log